video {
	/* -webkit-mask:url('../img/mask.svg');
	mask:url('../img/mask.svg');
	mask-image: url('../img/mask.svg');
	mask-type: alpha; */
	position: relative;
	overflow: hidden;
	  top:0;
	  left:0;
	  right:0;
	  bottom:0;
	  width: 100%;
	  height: auto;
	  margin: auto;
	  padding: 0;

}


/* .center {
  		width: 100%;
  		height: auto;
  		margin: 0 auto;
  		position: relative;
  		top:0;
  		right:0;
  		bottom:0;
  		left:0;
  		overflow: hidden;
  		z-index: -100;
  	} */
  	

#logo {
    font-family: 'bebas-neue', 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    font-style: bold;
    font-size: 1.2em;
    letter-spacing: .2em;
    color: #3bccee;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    text-decoration: none;
    padding-top: 25px;
    margin-left: 28px;

}

#rules {
	font-size: 80px;
}

#challenge-title {
	padding-left: 0px;
	padding-right: 0px;
}



strong {
	text-decoration: underline;
}

.mask {
	mask: url('../img/mask.svg');
	-webkit-mask:url('../img/mask.svg');
	mask-image: url('../img/mask.svg');
	mask-type: alpha;
	position: relative;
}

.row, video, .center {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 0;
}

.icon {
	display: block;
	margin: auto;
	width: 40%;
	padding-top: 5%;
	padding-bottom: 8%;
}

.sdg {
	display: block;
	margin: auto;
	width: 100%;
	padding-bottom: 5%;
}

/* .scoring strong {
	text-decoration: none;
} */

.score {
	opacity: 70%
}

.score, .hack {
	color: white;
}

.criteria {
	padding-top: 50px;
}

.judges {
	padding-top: 0px;
}

#judging {
	padding-top: 100px;
}

.masthead h2 strong {
	text-decoration-color: #3bccee;
}

.badges {
	padding-top: 80px;
}

#resources ul li {
   	position: relative;
    text-align: left;
    line-height: 1.5;
    opacity: 0.8;
    color: #3bccee;
    padding: 10px;
    list-style-type: circle;

}

h2 strong {
	text-decoration-color: #3bccee;
}

.prizes h2 strong {

}

.count {
	font-size: 40px;
	color: black;
}

.bg-count {
	padding: 30px;

}

.slo, .grand, .davos {
	  font-family: 'bebas-neue', 'lato', 'Muli', 'Helvetica', 'Arial', 'sans-serif'; 
	  font-size: 30px;
}

#grand {
	background-color: #3bccee;
}

.prizes .container {

}

.prizes .container .row {

}

/* @media (min-width: 576px) {}
.container {
    max-width: 100%;
}
}*/

.partner {
	width: 60%;
	height: 60%;
	vertical-align: middle;

}

.slo {
	width: 100%;
	vertical-align: middle;

}

.foh {
	width: 70%;
}

.sponsor {
	padding-top: 60px;
}

.global {
	width: 30%;
}

#challenges {
	padding-top: 50px;
}

section#schedule {
	position: relative;
background-image: url("../img/klosters.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  z-index: -10;
}
section#schedule{
    position: relative;
    z-index: 10; }
    section#schedule h2 {
      font-size: 50px;
      max-width: 450px;
      margin-top: 0;
      margin-bottom: 25px;
      color: white; 
  		}

  		#schedule div.row.h-100 {
  			color: white;
  			z-index: 100;
  		}
    @media (min-width: 768px) {
      section#schedule h2 {
        font-size: 80px; } }


section#schedule .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -100; }


.navbar .container .row {
	width: 50%;
	display: inline-block;
}

/* Navigation */

#mainNav {
	padding: 0 0 0 0;
}

#logo, #menu, {
	z-index: 1000;
}

.overlay {
	z-index: -10;
}


nav {
	display: inline-block;
}


.left {
	width: 100%;
	margin: 0;
	display: inline-block;
	background-color: white;


}

.right {
	display: none; 
}

@media (min-width: 768px) {

.left {
	width: 50%;
	margin: 0;
	display: inline-block;
	background-color: white;


}
.right {
	display: inline-block;
	text-align: right;
	margin:0 ;
	background-color: #3bccee;
	width: 50%;
	float: right;
	padding: 16.5px;
}

.right a {
	color: white;
	-webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s; 
}


.right a:hover {
	color: #3b5998;
}

.left, .right {
	display: inline-block;
}


}

#nav {
	width: 100%;

}



.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #3bccee;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #3bccee;
}

.dropdown {

}

.dropbtn {
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdfdfd;
    min-width: 260px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 

.dropdown a:hover {background-color: #f1f1f1}
*/
.show {display:block;}


.overlay {
	display: inline-block;
    height: 0%;
    width: 50%;
    position: fixed;
    z-index: 0;
    top: 71px;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}

@media (max-width: 767px) {
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 0;
    top: 71px;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}

}


.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    /*text-decoration: underline;
    text-decoration-color: #3bccee;*/
    -webkit-transition: all .35s;
  	-moz-transition: all .35s;
  	transition: all .35s; }
}

@media (max-width: 767px) {
.overlay2 {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: -1000;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}

.right {
	display: none;
}

}

.overlay2 {
	display: inline-block;
    height: 0%;
    width: 50%;
    float: right;
    position: fixed;
    z-index: -100;
    bottom: 0;
    right: 0;
    background-color: #3bccee;
    overflow-y: hidden;
    transition: 0.5s;
}


.overlay-content2 {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.overlay2 a {
    padding: 30px;
    padding-top: 60px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

#slohack {
	padding-top: 110px;
}

.overlay2 a:hover, .overlay2 a:focus {
    color: #818181;
}

/*.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 80px;
    color: #3bccee;
} */




@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


#kip {
	padding-top: 30px;
	padding-bottom: 40px;
}

.un {
	width: 100%;
}

section .feature-item img:hover {
	opacity: .5;
	-webkit-transition: all .35s;
  	-moz-transition: all .35s;
  	transition: all .35s; }

}

#partners img:hover {
	opacity: 1;
}

#partners img {
	width: 70%;
}

.ledger {
	padding-bottom: 100px;
}

/* Tab Style */

/* Style the tab */

#scoring {
	padding-top: 0px;
}

.tab {
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;

}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 35px 35px;
    transition: 0.4s;
    font-size: 28px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #3bccee;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #3bccee;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tab1, .tab2, .tab3 {
	padding-top: 50px;
}




