video {
	/* -webkit-mask:url('../img/mask.svg');
	mask:url('../img/mask.svg');
	mask-image: url('../img/mask.svg');
	mask-type: alpha; */
	position: relative;
	overflow: hidden;
	  top:0;
	  left:0;
	  right:0;
	  bottom:0;
	  width: 100%;
	  height: auto;
	  margin: auto;
	  padding: 0;

}


/* .center {
  		width: 100%;
  		height: auto;
  		margin: 0 auto;
  		position: relative;
  		top:0;
  		right:0;
  		bottom:0;
  		left:0;
  		overflow: hidden;
  		z-index: -100;
  	} */
  	

#logo {
    font-family: 'bebas-neue', 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    font-style: bold;
    font-size: 1.2em;
    letter-spacing: .2em;
    color: #3bccee;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    text-decoration: none;

}

strong {
	text-decoration: underline;
}

.mask {
	mask: url('../img/mask.svg');
	-webkit-mask:url('../img/mask.svg');
	mask-image: url('../img/mask.svg');
	mask-type: alpha;
	position: relative;
}

.row, video, .center {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 0;
}

.icon {
	display: block;
	margin: auto;
	width: 40%;
	padding-top: 5%;
	padding-bottom: 8%;
}

.sdg {
	display: block;
	margin: auto;
	width: 100%;
	padding-bottom: 5%;
}

/* .scoring strong {
	text-decoration: none;
} */

.score {
	opacity: 70%
}

.score, .hack {
	color: white;
}

.criteria {
	padding-top: 50px;
}

.judges {
	padding-top: 0px;
}

#judging {
	padding-top: 100px;
}

.masthead h2 strong {
	text-decoration-color: #3bccee;
}

.badges {
	padding-top: 80px;
}

#resources ul li {
   	position: relative;
    text-align: left;
    line-height: 1.5;
    opacity: 0.8;
    color: #3bccee;
    padding: 10px;
    list-style-type: circle;

}
